.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 70px auto;
    row-gap: 1vh;
    
}

input, button {
    border-style: none;
}

input {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 40px;
    padding: 8px 16px;
    margin-bottom: 5px;
}

button {
    background-color: red;
    width: 50%;
    border-radius: 20px;
    color: white;
    height: 40px;
}

button:hover {
    cursor: pointer;
}