/* You can add global styles to this file, and also import other style files */
app-top-bar {
    display: flex;
    flex-direction: right;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}