<link href='https://css.gg/search.css' rel='stylesheet'>

<a id="nav-home" class="nav-link" routerLink="/">
    <h1>Portfolio</h1>
</a>

<div id="search-container">
    <input type="text" id="search-bar" placeholder="Search" >

    <button id="search-button" type="submit"><i class="gg-search"></i></button>
    
</div>

<ul class="nav-list">
    <li>
        <a routerLink="/developer" class="nav-link" >
            Developer's Page
        </a>
    </li>    
    <li>
        <ul class="account-nav">
            <li>
                <a routerLink="/login" class="nav-link" >
                    Log in
                </a>
            </li>
            <li>
                <a routerLink="/register" class="nav-link" >
                    Register
                </a>

            </li>
        </ul>
    </li>
</ul>